node_modules/
dist/
runs/*
!runs/tetris-agent/
runs/tetris-agent/*
!runs/tetris-agent/best-model.json
.DS_Store
.env
.env.*
__pycache__/
*.py[cod]
*.pt
checkpoints/tetris-agent/checkpoint-best.pt.gz
checkpoints/tetris-agent/checkpoint-init-model.pt.gz
